
<div class="aboutus">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <h1>WHAT WE’RE ALL ABOUT</h1>
    <br />
  <h1>We champion creators to live their dreams!</h1>
  <br/>
  <br />
  <h2>Creativity gives us hope. It’s how we change the world.</h2>
  <br/>
  <br />
  </div>
</div>
<br />
