
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <h1>Photography & Video Classes </h1>
    <br />
  <%= link_to 'Learn More', courses_path, class: 'btn btn-outline-secondary btn-lg waves-effect' %>
    <br /><br />
  </div>
</div>
<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <div style="font-size:3em; color:Tomato">
      <i class="fa fa-balance-scale"></i>
    </div>
    <h4>Photo & Video Topics</h4>
    <br />
    <p>What interests you? Browse photography and video classes by topic.</p>
  </div>
    <div class="col-12 col-sm">
      <div style="font-size:3em; color:Tomato">
        <i class="fa fa-camera-retro"></i>
      </div>
    <h4>Learning Paths for Photographers</h4>
     <br />
    <p>A new, faster way to crush your goals.</p>
  </div>
    <div class="col-12 col-sm">
        <div style="font-size:3em; color:Tomato">
          <i class="fa fa-group"></i>
        </div>
    <h4>Free Upcoming Classes</h4>
     <br />
    <p>Start learning for free with on air classes.</p>
    </div>
  </div>
